.main-container {
    font-family: Arial, Helvetica, sans-serif;
}
.topic-text {
    font-size: 25px;
    font-weight: 300;
    color: #ffffff;
    padding-left: 10px;
}
.send-message-text {
    font-size: 18px;
    color: #ffffff;
    padding-left: 10px;
}
.send-message-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.message-box-container {
    display: flex;
    justify-content: center;
    background-color: #242424;
    width: 100%;
}