.message-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #303030;
    padding-left: 7px;
    padding-bottom: 10px;
    margin-bottom: 3px;
}
.message-text {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dedede;
    font-weight: 200;
    white-space: pre-wrap;
}
.message-timestamp {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.message-timestamp-container {
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #dedede;
    align-self: flex-end;
    padding-right: 10px;
}