.ready-button {
    text-align: center;
    background-color: #3a85fc;
    color: #dedede;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 300ms;
    outline: none;
    border: none;
}
.ready-button:hover {
    background-color: #3974d4;
}
.ready-button-text {
    display: flex;
    align-items: center;
    column-gap: 3px;
    font-weight: bold;
}
.input-box {
    background-color:#303030;
    color: #dedede;
    border: #dedede solid 1px;
    border-radius: 5px;
}